* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

:root {
    --font: 'Proxima Nova', sans-serif;
}

.container {
    background-color: black;
}

.leftbox {
    width: 25vw;
    border-radius: 6px;
}

.rightbox {
    color: white;
    margin-top: 5px;

    background-color: #1D1D1D;
    width: 75vw;
    height: 700px;
    position: relative;
    overflow: hidden;
}


.Home li {
    margin: 7px;
    width: 24px;
    padding-top: 14px;
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.Search {
    padding: 2px;
}

.logo img {
    width: 88px;
    padding: 0px 11px;
}


.library {
    color: white;
    min-height: 72vh;
    font-weight: 700;
    padding: 20px 20px 0px 20px;
    position: relative;
}

.Playlist {
    margin-left: 146px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 20px;
}

.navbar {
    padding: 0px 19.585px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: #101010;
}

.circle-container {
    display: flex;
    gap: 8px;
}

.artists {
    padding: 45px 24px 20px 24px;
    display: flex;
    justify-content: space-between;
}



.Popular-albums {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding:  24px 24px 10px 24px;
}

.albums-card img {
    width: 159.98px;
    border-radius: 10px;
}

.albums-card {
    padding: 12px;
    position: relative;
    /* border:2px solid white; */
}

.container_albums {
    margin:  0px 30px 0px 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
     
}

.playbtn {
    position: absolute;
    bottom: 10px;
    left: 135px;
    transform: translateX(-50%);
    background-color: #1abc54;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease, opacity 0.5s ease;
    opacity: 0; /* Start with invisible */
}

.albums-card:hover .playbtn {
    bottom: 70px;
    opacity: 1;
    left: 135px;
}

.playbtn svg {
    height: 24px;
    width: 24px;
}

.playbar{
    padding: 12px;
    background-color: rgb(156, 157, 156);
    width: 100%;
    position: absolute;
    bottom: 30px;
}
.songbutton{
    display: flex;
    justify-content: center;
    gap: 14px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    display: flex;
    padding: 20px;
    font-size: 11px;
    position: absolute;
    bottom: 0;
}

/* footer div {
    margin-bottom: 10px;
} */

footer a {
    text-decoration: none;
    color: gray
}

footer a:hover {
    text-decoration: underline;
}

.songList{
    height: 355px;
    overflow: auto;
    margin-bottom: 44px ;
}
.songList ul {
    list-style-type: decimal; /* Displays list items in decimal format (1, 2, 3, ...) */
    padding-left: 12px; /* Adds some space between the numbers and the text */
}

.songList li {
    padding: 10px; /* Adds padding around each list item */
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0px;
    border: 1px solid white;
    margin: 12px 0px;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
}

.songList .info{
    font-size: 12px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;

}
.playnow span{
    font-size: 15px;
    width: 64px;
    padding: 12px;

}
